html, body {
  margin: 0 auto;
  background-color: lightblue;
}

#divven {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
    width: 100%;
    display: inline-block;
    font-size: 5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  li {
    display: inline-block;
  }

  li:first-child {
    background-color: #267ea0;
    border-radius: 10px;
    margin-right: 1%;
  }

  li:last-child {
    background-color: #7e0b0b;
    border-radius: 10px;
    margin-left: 1%;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li:first-child a:hover {
    background-color: #267ea0;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition:all 0.3s ease;
    border-radius: 10px;
  }

  li:last-child a:hover {
    background-color: #7e0b0b;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition:all 0.3s ease;
    border-radius: 10px;
  }